<div class="row">
  <div class="col-md-7">
    <h3 class="lead">Contact Us</h3>
    <p>
      500 Terry Francois Street, 6th Floor
      San Francisco, CA  94158
      info@mysite.com
      Tel: 1-800-000-0000
      Fax: 123-456-7890
    </p>
  </div>
    <div class="col-md-5">
      <img class="featutette-image" data-src="holder.js/500x500/auto" alt="500x500" src="http://static.wixstatic.com/media/51a1131b0e871001639715251526eddf.jpg_srz_p_390_365_75_22_0.50_1.20_0.00_jpg_srz" data-holder-rendered="true">
    </div>
</div>