<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <center><img src="http://static.wixstatic.com/media/b2c0a7_c5345d013500497fa8c5b635e5c3424a.jpg_srz_p_892_451_75_22_0.50_1.20_0.00_jpg_srz"  alt="First slide"></center>
          
        </div>
        <div class="item">
          <center><img src="http://static.wixstatic.com/media/b2c0a7_f65aba7348ab4daebe27ea1ea686f413.jpg_srz_p_892_451_75_22_0.50_1.20_0.00_jpg_srz"  alt="Second slide"></center>
          
        </div>
        <div class="item">
          <center><img src="http://static.wixstatic.com/media/b2c0a7_7e9daab1c5234129ae0b9a458dd52664.jpg_srz_p_892_451_75_22_0.50_1.20_0.00_jpg_srz"  alt="Third slide"></center>
          
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>