/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.SITE_CONTAINER{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.background{
width: 100%;
position: fixed;
top: 0px;
height: 100%;
background: url(http://static.wixstatic.com/media/b2c0a7_90f9c4cf612348f1beb53dd78ce9dc43.png_srz_p_480_464_75_22_0.50_1.20_0.00_png_srz) 50% 0% / auto repeat repeat fixed rgb(251, 251, 251);
}

.navbar{
  width: calc(100% - 2px);
  white-space: nowrap;
  background-color: rgba(251, 251, 251, 1);
  border-radius: 0;
  border: solid 1px rgba(200, 200, 200, 1);
  display: inline-block;
  text-align: center;
  overflow: visible;
  box-sizing: border-box;

  width: 980px;
  position: center;

  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;

}

.navlink{
  color: #646464;
  transition: color 0.4s ease 0s;
  display: inherit;
  position: relative;
  padding: 0 10px;
  width: 245px;
  height: 33px;
  overflow: visible;
font: normal normal bold 15px/1.1em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
}*/