// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.brand2{
//  position: relative;
//  top: 23px;
//  font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
//  font-size: 30px;
//  line-height: 1em;
//  color: #646464;
//  margin: 0;
//  padding: 0;
//  border: 0;
//  outline: 0;
//  vertical-align: baseline;
//  background: transparent;
//  text-align: center;
//}
//
//.brand1{
//  position: relative;
//  top: 23px;
//  line-height: 1em;
//  margin: 0;
//  padding: 0;
//  border: 0;
//  outline: 0;
//  vertical-align: baseline;
//  background: transparent;
//  text-align: center;
//  font: normal normal normal 68px/1.1em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
//  color: #72D2E5;
//  letter-spacing: normal;
//  word-wrap: break-word;
//}
//
//.navbar {
//position: absolute;
//top: 161px;
//min-height: 50px;
//margin-bottom: 20px;
//border: 1px solid transparent;
//}
.s1 li {color:inherit;font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.s1 ol,.s1 ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.s1 ul {list-style-type:disc;}
.s1 ol {list-style-type:decimal;}
.s1 ul ul,.s1 ol ul {list-style-type:circle;}
.s1 ul ul ul,.s1 ol ul ul {list-style-type:square;}
.s1 ul ol ul,.s1 ol ol ul {list-style-type:square;}
.s1 ul[dir="rtl"],.s1 ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s1 ul[dir="rtl"] ul,.s1 ul[dir="rtl"] ol,.s1 ol[dir="rtl"] ul,.s1 ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s1 p {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h1 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h2 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h3 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h4 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h5 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h6 {margin:0;line-height:normal;letter-spacing:normal;}


.s2link {display:block;overflow:hidden;}
.s2imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s2img[data-state~="loading"] .s2imgimage {background:url("//static.wix.com/services/skins/2.933.6/images/wysiwyg/core/themes/editor_web//gif_preloader.gif") center no-repeat;}</style><style type="text/css" data-reactid=".0.0.$s3">.s3itemsContainer {width:-webkit-calc(100% - 2px);width:calc(100% - 2px);white-space:nowrap;background-color:rgba(251, 251, 251, 1);  border-radius:0;    border:solid 1px rgba(200, 200, 200, 1);position:relative;overflow:hidden;}
.s3moreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;background-color:rgba(251, 251, 251, 1);  border-radius:0;    border:solid 1px rgba(200, 200, 200, 1);}
.s3dropWrapper {z-index:99999;display:block;opacity:1;margin-top:7px;visibility:hidden;position:absolute;box-sizing:border-box;}
.s3[data-dropmode="dropUp"] .s3dropWrapper {margin-top:0;margin-bottom:7px;}
.s3repeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;cursor:pointer;background-color:transparent;transition: background-color 0.4s ease 0s;}
.s3repeaterButton[data-state~="header"] a,.s3repeaterButton[data-state~="header"] div {cursor:default !important;}
.s3repeaterButton_gapper {padding:0 0px;border-left:1px solid rgba(200, 200, 200, 1);}
.s3repeaterButtonlabel {display:inline-block;padding:0 10px;font:normal normal bold 15px/1.1em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif ;  color:#646464;transition: color 0.4s ease 0s;}
.s3repeaterButton:first-child .s3repeaterButton_gapper {border:0;}
.s3repeaterButton[data-listposition="left"] {border-radius:0;  border-top-right-radius:0;border-bottom-right-radius:0;}
.s3repeaterButton[data-listposition="right"] {border-radius:0;  border-top-left-radius:0;border-bottom-left-radius:0;}
.s3repeaterButton[data-listposition="lonely"] {border-radius:0;}
.s3repeaterButton[data-listposition="lonely"] .s3repeaterButton_gapper {border:0;}
.s3repeaterButton[data-state~="drop"] {width:100%;display:block;background-color:transparent;transition: background-color 0.4s ease 0s;}
.s3repeaterButton[data-state~="drop"] .s3repeaterButton_gapper {border:0;border-top:1px solid rgba(200, 200, 200, 1);padding:0;width:auto;}
.s3repeaterButton[data-state~="drop"] .s3repeaterButtonlabel {padding:0 .5em;}
.s3repeaterButton[data-listposition="top"] {border-radius:0;  border-bottom-right-radius:0;border-bottom-left-radius:0;}
.s3repeaterButton[data-listposition="top"] .s3repeaterButton_gapper {border:0;}
.s3repeaterButton[data-listposition="bottom"] {border-radius:0;  border-top-right-radius:0;border-top-left-radius:0;}
.s3repeaterButton[data-listposition="dropLonely"] {border-radius:0;}
.s3repeaterButton[data-listposition="dropLonely"] .s3repeaterButton_gapper {border:0;}
.s3repeaterButton[data-state~="over"] {background-color:rgba(200, 200, 200, 0.35);  transition: background-color 0.4s ease 0s;}
.s3repeaterButton[data-state~="over"] .s3repeaterButtonlabel {color:#A8A7A7;transition: color 0.4s ease 0s;}
.s3repeaterButton[data-state~="selected"] {background-color:rgba(200, 200, 200, 0.35);  transition: background-color 0.4s ease 0s;}

.s12 li {box-sizing:border-box;position:relative;}
.s12 ul {box-sizing:border-box;position:relative;}
.s12_foot {min-height:50px;position:relative;}
.s12 span {color:rgba(100, 100, 100, 1);font:normal 14px 'Helvetica Neue', Helvetica, sans-serif;position:absolute;top:0;}
.s12 span.s12_success {color:#BADA55;}
.s12 span.s12_error {color:#8B0000;}
.s12 button,.s12 input,.s12 textarea {box-sizing:border-box;border-radius:0;  }
.s12 input,.s12 textarea {background-color:rgba(251, 251, 251, 0.04);  font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;  -webkit-appearance:none;-moz-appearance:none;border:1px solid rgba(200, 200, 200, 1);color:rgba(100, 100, 100, 1);margin:0 0 5px;padding:5px;width:100%;}
.s12 input.s12_error,.s12 textarea.s12_error {border:1px solid #8B0000;color:#8B0000;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 textarea {height:100%;resize:none;}
.s12 button {border:0;color:rgba(100, 100, 100, 1);cursor:pointer;background-color:rgba(200, 200, 200, 0.4);  font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;  padding:5px;position:absolute;top:0;}
.s12[data-state~="desktop"] li {width:50%;}
.s12[data-state~="desktop"].s12[data-state~="left"] li.s12_left {margin:0;}
.s12[data-state~="desktop"].s12[data-state~="left"] li.s12_right {bottom:0;padding:0 0 5px 5px;position:absolute;right:2px;top:0;}
.s12[data-state~="desktop"].s12[data-state~="right"] li.s12_left {margin-left:50%;}
.s12[data-state~="desktop"].s12[data-state~="right"] li.s12_right {bottom:0;left:2px;padding:0 5px 5px 0;position:absolute;top:0;}
.s12[data-state~="mobile"] li {display:block;width:100%;}
.s12[data-state~="mobile"] input,.s12[data-state~="mobile"] textarea {font-size:16px;}
.s12[data-state~="mobile"] input::-webkit-input-placeholder,.s12[data-state~="mobile"] textarea::-webkit-input-placeholder {line-height:45px;font-size:16px;}
.s12[data-state~="mobile"] input::-moz-placeholder,.s12[data-state~="mobile"] textarea::-moz-placeholder {line-height:45px;font-size:16px;}
.s12[data-state~="mobile"] input:-ms-input-placeholder,.s12[data-state~="mobile"] textarea:-ms-input-placeholder {line-height:45px;font-size:16px;}
.s12[data-state~="mobile"] input::placeholder,.s12[data-state~="mobile"] textarea::placeholder {line-height:45px;font-size:16px;}
.s12[data-state~="mobile"] input {height:45px;line-height:45px;margin-bottom:15px;}
.s12[data-state~="mobile"] textarea {height:130px;}
.s12 input::-webkit-input-placeholder,.s12 textarea::-webkit-input-placeholder {color:#646464;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input::-moz-placeholder,.s12 textarea::-moz-placeholder {color:#646464;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input:-ms-input-placeholder,.s12 textarea:-ms-input-placeholder {color:#646464;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input::placeholder,.s12 textarea::placeholder {color:#646464;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input::-webkit-input-placeholder.s12_error,.s12 textarea::-webkit-input-placeholder.s12_error {color:#8B0000;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input::-moz-placeholder.s12_error,.s12 textarea::-moz-placeholder.s12_error {color:#8B0000;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input:-ms-input-placeholder.s12_error,.s12 textarea:-ms-input-placeholder.s12_error {color:#8B0000;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12 input::placeholder.s12_error,.s12 textarea::placeholder.s12_error {color:#8B0000;font:normal normal normal 16px/1.3em 'open sans condensed',sans-serif ;}
.s12[data-state~="right"] {direction:rtl;text-align:right;}
.s12[data-state~="right"] button {left:0;}
.s12[data-state~="right"] span {left:100px;right:0;}
.s12[data-state~="left"] {direction:ltr;text-align:left;}
.s12[data-state~="left"] button {right:0;}
.s12[data-state~="left"] span {left:0;right:100px;}



.wixAdsdesktopBottomAdContent {width:100%;height:40px;text-align:center;background-color:#404040;border-radius:6px 6px 0 0;pointer-events:all;cursor:pointer;}
.wixAdsdesktopBottomAdContent:hover {background-color:#222;}
.wixAds[data-state~="facebook"] .wixAdsdesktopBottomAdContent {width:500px;margin:0 auto;}
.wixAdsdesktopTopAd {position:fixed;z-index:98;height:26px;top:0;right:50px;overflow:hidden;background-color:#404040;border-radius:0 0 6px 6px;pointer-events:all;cursor:pointer;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.wixAdsdesktopTopAd:hover {height:97px;background-color:rgba(50, 50, 50, 0.8);}
.wixAdsdesktopTopAd:hover .wixAdsdesktopTopAdLabel {background-color:#222;}
.wixAdsdesktopTopAdLabel {padding:6px;font-size:13px;line-height:1.3em;color:#FFF;}
.wixAdsdesktopTopAdContent {width:100%;font-size:13px;color:#FFF;font-weight:bold;line-height:18px;text-align:justify;padding:5px 10px;font-size:13px;line-height:1.3em;color:#ffffff;font-weight:bold;line-height:18px;text-align:justify;padding:5px 10px;width:100%;}
.wixAds[data-state~="desktop"] .wixAdsmobileAd {display:none;}
.wixAds[data-state~="mobile"] .wixAdsdesktopTopAd {display:none;}
.wixAds[data-state~="mobile"] .wixAdsdesktopBottomAd {display:none;}
.wixAdsdesktopTopAdLabel .wixAds_smallMusa {display:inline-block;text-indent:-9999px;width:16px;height:16px;margin-right:5px;background-image:url(http://static.parastorage.com/services/skins/2.995.7/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:0% 0%;}
.wixAdsdesktopTopAdLabel .wixAds_smallLogo {display:inline-block;text-indent:-9999px;width:29px;height:16px;background-image:url(http://static.parastorage.com/services/skins/2.995.7/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:-16px top;}
.wixAdsdesktopBottomAdContent .wixAds_faceBanner {background-color:rgba(64, 64, 64, 1);  width:500px;height:100%;margin:0 auto;border-radius:6px 6px 0 0;  padding:5px 0 0 0;}
.wixAdsdesktopBottomAdContent .wixAds_faceBanner div {display:inline-block;height:30px;}
.wixAdsdesktopBottomAdContent .wixAds_faceBanner .wixAds_txt {color:#fff;font-weight:bold;font-size:15px;text-align:justify;margin:-2px 10px 0 19px;}
.wixAdsdesktopBottomAdContent .wixAds_faceBanner .wixAds_logoDot {position:static;margin:0 3px;}
.wixAdsdesktopBottomAdContent .wixAds_faceBanner .wixAds_emphasis {font-weight:bold;position:relative;top:-6px;}
.wixAdsdesktopTopAdContent .wixAds_spacer {line-height:26px;}
.wixAdsdesktopTopAdContent .wixAds_emphasis {color:#ffcc00;}
.wixAdsdesktopTopAdContent .wixAds_cap {font-size:16px;line-height:1.3em;text-transform:uppercase;}
.wixAdsdesktopTopAdContent .wixAds_face {display:block;line-height:18px;text-align:justify;padding:0 20px;width:120px;}
.wixAdsdesktopBottomAdContent .wixAds_adFootBox {height:40px;width:100%;text-align:center;}
.wixAdsdesktopBottomAdContent .wixAds_siteBanner {background-color:rgba(64, 64, 64, 1);  border-radius:6px 6px 0 0;  width:100%;height:100%;text-align:center;}
.wixAdsdesktopBottomAdContent:hover .wixAds_siteBanner {background-color:#222222;}
.wixAdsdesktopBottomAdContent .wixAds_siteBanner .wixAds_wrapper {padding:5px 0;}
.wixAdsdesktopBottomAdContent .wixAds_siteBanner .wixAds_wrapper div {display:inline-block;height:30px;}
.wixAdsdesktopBottomAdContent .wixAds_bigMusa {text-indent:-9999px;width:36px;background-image:url(http://static.parastorage.com/services/skins/2.995.7/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:left bottom;position:relative;top:-19px;}
.wixAdsdesktopBottomAdContent.wixAds_nativeAndroid .wixAds_bigMusa {overflow:hidden;}
.wixAdsdesktopBottomAdContent .wixAds_logoDot {text-indent:-9999px;width:39px;height:15px;position:relative;top:-4px;margin:0 5px;background-image:url(http://static.parastorage.com/services/skins/2.995.7/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:right -17px;}
.wixAdsdesktopBottomAdContent .wixAds_emphasis {color:#ffcc00;font-size:16px;text-transform:uppercase;}
.wixAdsdesktopBottomAdContent .wixAds_txt {color:#fff;font-weight:bold;font-size:15px;}